// Variables
$header-height: 5.875rem;

// var-colors
$header-bg: white;
$links: rgb(51, 103, 214);
$text-mid-dark: #555;
$footer-bg: #F5F5F5;

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

// common
.container{
    max-width: 960px;
    margin: auto;
}

// HEADER
header{
    height: $header-height;
    width: 100%;
    padding: 15px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $header-bg;
    border-bottom: 1px solid darkgray;
    position: fixed;

    div{
        display: flex;
        align-items: center;
        a{
            color: $text-mid-dark;
            text-decoration: none;
            font-size: 1.275rem;
            font-weight: 600;
            margin-left: 10px;
            margin-top: -5px;
        }
    }
    nav{
        ul li{
            list-style: none;
            display: inline-block;
            margin-right: 30px;
        }
        a{
            text-decoration: none;
            font-weight: 600;
            font-size: 1.125rem;
            color: $text-mid-dark;
            padding: 5px 0;
            &.current{
                color: $links;
                border-bottom: 3px solid $links;
            }
        }
    }
}

// main
main{
    padding-top: calc($header-height + 70px);
}
.faq{
    margin-bottom: 85px;
    a{
        text-decoration: none;
        color: $links;
    }
    h2{
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 1.5625rem;
    }
    h3{
        margin-top: 30px;
        font-weight: 500;
        font-size: 1.29rem;
        margin-bottom: 15px;
    }
    p{
        font-weight: 400;
        font-size: .9375rem;
    }
    ol li{
        list-style-type: decimal;
        list-style-position: inside;
        margin: 15px 0;
        ol li{
            list-style-type:lower-alpha;
            margin-left: 25px;
        }
    }
}

// footer
footer{
    padding: 15px;
    background-color: $footer-bg;
    border-top: 1px solid rgb(170, 170, 170);
    .container{
        display: flex;
        justify-content: space-between;
    }
    ul{
        li{
            display: inline-block;
            margin-left: 10px;
            a{
                text-decoration: none;
                color: $text-mid-dark;
                font-weight: 300;
                font-size: .775rem;
            }
        }
    }
}